/* Official Color:
    
    Yellow Green #71cd14
    Green #38c172
    Gray #f8fafc
    Dark Gray #1b222c
*/

.ownorent-dropdown-menu-right{
    left:unset !important;
    right:0;
}

.ownorent-dropdown-button{
    display:inline-block;
}

.ownorent-dropdown-menu{
    text-align:center;
}

.ownorent-toggle{
    color:#348dcf;
    text-decoration:none;
    border-bottom:1px solid #c6d4de;
    margin-bottom:15px;
    display:inline-block;
    padding:0px 10px 0px 0px;
}

.ownorent-toggle:hover{
    text-decoration:none;
    cursor:pointer;
}

.ownorent-bg-red {
    background-color:#e02b2b;
}

.ownorent-text-red {
    color:#e02b2b;
}

.ownorent-bg-orange {
    background-color:#ea8e0e;
}

.ownorent-text-orange {
    color:#ea8e0e;
}

.ownorent-bg-ygreen {
    background-color:#71cd14;
}

.ownorent-text-ygreen {
    color:#71cd14;
}

.ownorent-bg-gray{
    background-color:#1b222c;
}

.ownorent-text-gray{
    color:#1b222c;
}

.ownorent-bg-silver{
    background-color:#838b9b;
}

.ownorent-text-silver{
    color:#838b9b;
}

.parameters,.formula, .note{
    font-size:0.8em;
}

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.width100{
    width:100% !important;
}

.marginTop10{
    margin-top:10px;
}

.marginTop15{
    margin-top:15px;
}

.text-greyed-out{
    color:#f8fafc;
}

.text-washed-out{
    color:rgba(0,0,0,0.2);
}

.main-banner {
    margin-top:15px;
    height:450px !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    background-position: 0% 54% !important;
}

.main-banner h4 {
    margin-top:100px;
    font-weight:800;
    color:white;
    text-shadow:1px 2px 1px black;
}

.main-banner h1 {
    font-weight:800;
    font-size:2em;
    font-family: 'Roboto', sans-serif !important;
    color:white;
    text-shadow:1px 2px 7px black;
    box-shadow: 10px rgba(0,0,0,0.1) !important;
}

.frontpage-card {
    padding:10px 0px 17px 0px;
    text-align:center;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:4px;
    margin-bottom:12px;
}

.frontpage-card h5 {
    margin-bottom:7px !important;
    font-weight:600;
    color:#71cd14;
}

 .frontpage-card .icon:before {
    font-size:35px;
    margin-left:12px;
 }

.main-banner h1 span{
    color:#71cd14;
    font-family: 'Roboto', sans-serif !important;
}

.main-banner .btn {
    font-weight: 600;
    text-shadow:none !important;
    font-size:0.6em;
    letter-spacing:0.6px;
    padding: 10px 35px
}

.main-banner .btn-success {
    background-color:#71cd14;
    border:none;
}

.btn {
    font-family: 'Roboto', sans-serif !important;
    border-radius:3px;
}

.main-banner p {
    color:white;
    text-shadow:1px 2px 1px black;
}

.navbar {
    background-color:white !important;
    border-bottom:none;
    margin-bottom:5px;
}

.navbar-overhead {
    display:block;
    width:100%;
    background-color:#f2f4f6;
    line-height:40px;
    font-size:0.9em;
}

.navbar-toggle {
    margin-top:18px;
    color:black;
    border-color:black !important;
}

.navbar-brand {
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.navbar-logo {
     width:160px;
     transform: translate(-15px);
}

html * {
    font-family: 'Heebo', sans-serif;
}

.navbar-default .navbar-nav > li > a {
    line-height:45px;
}

.navbar-default .navbar-nav {
    /*padding-left:13%;*/
}

.overhead-content {
    width:40%;
}

.login-info {
    text-align:right;
    width:59%;
}

.login-info a {
    color:black;
    padding-right:10px;
}

.login-info a:hover {
    color:#71cd14;
    font-weight:800;
}

.navbar-overhead #logoutForm{
    display:inline !important;
}

.navbar-overhead .login-info, .navbar-overhead .overhead-content {
    display:inline-block !important;
}

footer .right {
    text-align:right;
}

.account-card {
    background-color:white;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.2);
    margin-top:10px;
}

.account-header {
    background-color:#38c172;
    line-height:50px;
    margin-bottom:20px;
    text-align:center;
    color:white;
}

.ownorent-header-internal {
    background-color:#38c172;
    line-height:36px;
    margin-bottom:20px;
    text-align:left;
    color:white;
    padding-left:20px;
}

.account-card .form-horizontal{
    padding:0px 20px 0px 20px;
}

.account-card .form-horizontal .form-group, .account-card .form-horizontal .form-group label {
    margin-bottom:4px;
}

.form-control {
    box-shadow:none !important;
}

.form-control:active,.form-control:focus{
    box-shadow:none !important;
    border-color:#71cd14;
}

.validation-summary-errors ul{
    padding:0px 0px 0px 20px !important;
}

.ownorent-alert{
    margin-bottom:5px;
}

.ownorent-alert.alert-success{
    border: none !important;
    background-color:#38c172;
    color:white;
}

.ownorent-alert.alert-danger{
    border: none !important;
    background-color:#f25151;
    color:white;
}

.ownorent-panel{
    border: 1px solid rgba(50,50,150,0.2);
    border-radius:4px;
    transition:0.3s;
}

.ownorent-panel-white{
    background-color:white !important;
}

.ownorent-panel:hover{
    border: 1px solid #38c172;
}

.ownorent-panel .ownorent-panel-header{
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding:0px 14px;
    line-height:30px;
    border-bottom:solid 1px rgba(0,0,0,0.3);
    font-size:0.8em;
    font-weight:800;
    letter-spacing:1px;
}

.ownorent-panel .ownorent-panel-body{
    padding:12px 15px 22px 15px;
}

.ownorent-panel .ownorent-panel-tools{
    padding:11px 15px 11px 15px !important;
}

.ownorent-panel-tools p{
    margin-top:8px;
    margin-left:5px;
    margin-bottom:0px;
    letter-spacing:1px;
    font-weight:600;
    font-family: 'Roboto', sans-serif !important;
    font-size:0.9em;
}

.ownorent-panel-tools p a{
    margin-bottom:2px;
    margin-left:3px;
}

.ownorent-panel .ownorent-panel-table{
    padding:10px 0px !important;
}

.ownorent-product-card{
    background-color:white;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
}

.ownorent-product-card-header{
    line-height:24px;
    font-size:0.9em;
    font-style:italic;
    padding-left:6px;
    border-top: 1px solid #71cd14;
}

.ownorent-product-card:hover .ownorent-product-card-img{
    background-size:cover !important;
}

.ownorent-product-card-bg-container{
    overflow:hidden;
    margin-bottom:8px;
}

.ownorent-product-card-bg-container div{
    position:relative !important;
    top:0;
    left:0;
    border-top:1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.ownorent-product-card-bg{
    filter: blur(12px);
    -webkit-filter: blur(12px);
    background-size:contain !important;
    background-position:center !important;
    height:160px;
}

.ownorent-product-card-img-no-pic{
    width:100%;
    height:160px;
    background-repeat:repeat !important;
    background-size: 61px 61px !important;
    z-index:99;
    filter: blur(1px);
    -webkit-filter: brightness(3);
}

.ownorent-product-card-img{
    width:100%;
    height:160px;
    background-size:contain !important;
    background-position:center !important;
    background-repeat:no-repeat !important;
    z-index:99;
    margin-top:-160px;
}

.ownorent-product-card-info{
    width:100%;
    padding:5px 15px 10px;
}

.ownorent-product-card-info p{
    margin-bottom:5px;
}

.ownorent-product-card-info .name{
    font-family: 'Roboto', sans-serif !important;
    font-weight:400;
    font-size:0.95em;
    margin-bottom:12px;
}

.ownorent-product-card-info p .info{
    color:#b3b0b0;
    font-size:0.9em !important;
    float:left !important;
}

.ownorent-product-card-info .price{
    font-size:0.9em;
    color:#035526;
    text-align:right;
}

.ownorent-product-card-info .price-rent{
    font-size:0.9em;
    color:#035526;
    padding-bottom:8px;
    border-bottom:1px solid rgba(150,150,150,0.1);
    text-align:right;
}

table.dataTable.ownorent-compact-table tbody td{
    font-size:0.9em !important;
}

.table-responsive{
    border:none !important;
}

.dataTables_wrapper .window-footer{
    margin-top:3px !important;
}

.table.dataTable thead th, table.dataTable thead td{
    /*border-bottom: 1px solid rgba(50,50,100,0.3) !important;*/
    border-bottom:none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding:0em 0.4em !important;
}

table.dataTable tbody th, table.dataTable tbody td{
    background-color:rgba(242, 244, 246,0.7);
}

table.dataTable.no-footer{
    border-bottom:none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background:none !important;
    border:none !important;
    background-color: #38c172 !important;
    color:white !important;
    padding:4px 8px 0px 8px !important;
}

.dataTables_info{
    color:rgba(0,0,0,0.4) !important;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top:0.5em !important;
}

table.dataTable thead th, table.dataTable thead td{
    padding:0px 12px 10px 14px !important;
    font-weight:600 !important;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing:1px;
    color:#000e27;
    font-size:0.9em !important;
}

table.dataTable thead .sorting{
    color:#9a9a9a !important;
    font-weight:400 !important;
    background-position-y:-1px !important;
}

table.dataTable thead .sorting_desc{
    background-position-y:-5px !important;
}

.table.dataTable.no-border-top  thead th, table.dataTable.no-border-top  thead td{
    border-top:none;
}

.floating-cart{
    position:fixed;
    z-index: 999999999999999999;
    top:48px;
    right:110px;
    border-radius:100%;
    background-color:white;
    padding:6px 9px 6px 13px;
    border:1px solid rgba(0,0,0,0.1);
    text-align:center;
}

.floating-cart span{
    font-size:0.9em;
    background-color:red;
    border-radius:100%;
    padding:0px 6px;
    color:white;
    margin:0px;
    margin-left:-3px;
}

.floating-cart [class^="flaticon-"]:before,.floating-cart [class*=" flaticon-"]:before,.floating-cart [class^="flaticon-"]:after,.floating-cart [class*=" flaticon-"]:after{
    margin-left:0px;
    margin-right:-10px !important;
    font-size:2em;
}

.table-inline-input{
    width:45px !important;
    display:inline-block !important;
    text-align:right;
    padding:0px;
    height:auto !important;
    border-radius:0px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.2);
}

@media(max-width:767px) {
    .floating-cart{
        bottom:40px;
        right:20px;
        padding:16px 18px 16px 23px;
        top:unset!important;
    }

    .floating-cart [class^="flaticon-"]:before,.floating-cart [class*=" flaticon-"]:before,.floating-cart [class^="flaticon-"]:after,.floating-cart [class*=" flaticon-"]:after{
        margin-left:0px;
        margin-right:-10px !important;
        font-size:2em;
    }

    .navbar-overhead .overhead-content {
        display:none !important;
    }

    .login-info {
        text-align:left;
        width:100%;
    }

    footer .right, footer .left {
        text-align:center;
    }

    .main-banner h1{
        font-size:1em !important;
    }

    .ownorent-panel-tools p{
        margin-left:0px;
    }

    .ownorent-panel-tools p a{
        margin-top:8px;
        margin-left:0px;
        display:block;
    }

    .ownorent-panel-tools .all-search{
        margin-top:8px;
    }
}