/* Official Color:
    
    Yellow Green #71cd14
    Green #38c172
    Gray #f8fafc

*/

body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.marginTop10{
    margin-top:10px;
}

.marginTop15{
    margin-top:15px;
}

.main-banner {
    margin-top:15px;
    height:450px !important;
    background-size:cover !important;
    background-repeat:no-repeat !important;
    background-position: 0% 54% !important;
}

.main-banner h4 {
    margin-top:100px;
    font-weight:800;
    color:white;
    text-shadow:1px 2px 1px black;
}

.main-banner h1 {
    font-weight:800;
    font-size:2em;
    font-family: 'Roboto', sans-serif !important;
    color:white;
    text-shadow:1px 2px 7px black;
    box-shadow: 10px rgba(0,0,0,0.1) !important;
}

.frontpage-card {
    padding:10px 0px 17px 0px;
    text-align:center;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:4px;
    margin-bottom:12px;
}

.frontpage-card h5 {
    margin-bottom:7px !important;
    font-weight:600;
    color:#71cd14;
}

 .frontpage-card .icon:before {
    font-size:35px;
    margin-left:12px;
 }

.main-banner h1 span{
    color:#71cd14;
    font-family: 'Roboto', sans-serif !important;
}

.main-banner .btn {
    font-weight: 600;
    text-shadow:none !important;
    font-size:0.6em;
    letter-spacing:0.6px;
    padding: 10px 35px
}

.main-banner .btn-success {
    background-color:#71cd14;
    border:none;
}

.btn {
    font-family: 'Roboto', sans-serif !important;
    border-radius:3px;
}

.main-banner p {
    color:white;
    text-shadow:1px 2px 1px black;
}

.navbar {
    background-color:white !important;
    border-bottom:none;
    margin-bottom:5px;
}

.navbar-overhead {
    display:block;
    width:100%;
    background-color:#f2f4f6;
    line-height:40px;
    font-size:0.9em;
}

.navbar-toggle {
    margin-top:18px;
    color:black;
    border-color:black !important;
}

.navbar-brand {
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.navbar-logo {
     width:160px;
     transform: translate(-15px);
}

html * {
    font-family: 'Heebo', sans-serif;
}

.navbar-default .navbar-nav > li > a {
    line-height:45px;
}

.navbar-default .navbar-nav {
    padding-left:13%;
}

.overhead-content {
    width:40%;
}

.login-info {
    text-align:right;
    width:59%;
}

.login-info a {
    color:black;
    padding-right:10px;
}

.login-info a:hover {
    color:#71cd14;
    font-weight:800;
}

.navbar-overhead #logoutForm{
    display:inline !important;
}

.navbar-overhead .login-info, .navbar-overhead .overhead-content {
    display:inline-block !important;
}

footer .right {
    text-align:right;
}

.account-card {
    background-color:white;
    border-radius:3px;
    border:1px solid rgba(0,0,0,0.2);
    margin-top:10px;
}

.account-header {
    background-color:#38c172;
    line-height:50px;
    margin-bottom:20px;
    text-align:center;
    color:white;
}

.account-card .form-horizontal{
    padding:0px 20px 0px 20px;
}

.account-card .form-horizontal .form-group, .account-card .form-horizontal .form-group label {
    margin-bottom:4px;
}

.form-control {
    box-shadow:none !important;
}

.form-control:active,.form-control:focus{
    box-shadow:none !important;
    border-color:#71cd14;
}

.validation-summary-errors ul{
    padding:0px 0px 0px 20px !important;
}

.ownorent-alert.alert-success{
    border: none !important;
    background-color:#38c172;
    color:white;
}

.ownorent-alert.alert-danger{
    border: none !important;
    background-color:#f25151;
    color:white;
}

.ownorent-panel{
    border: 1px solid rgba(50,50,150,0.2);
    border-radius:4px;
    transition:0.3s;
}

.ownorent-panel-white{
    background-color:white !important;
}

.ownorent-panel:hover{
    border: 1px solid #38c172;
}

.ownorent-panel .ownorent-panel-header{
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding:0px 14px;
    line-height:30px;
    border-bottom:solid 1px rgba(0,0,0,0.3);
    font-size:0.8em;
    font-weight:800;
    letter-spacing:1px;
}

.ownorent-panel .ownorent-panel-body{
    padding:12px 15px 22px 15px;
}

.ownorent-panel .ownorent-panel-table{
    padding:10px 0px !important;
}

.table-responsive{
    border:none !important;
}

.dataTables_wrapper .window-footer{
    margin-top:3px !important;
}

.table.dataTable thead th, table.dataTable thead td{
    /*border-bottom: 1px solid rgba(50,50,100,0.3) !important;*/
    border-bottom:none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding:0em 0.4em !important;
}

table.dataTable tbody th, table.dataTable tbody td{
    background-color:rgba(242, 244, 246,0.7);
}

table.dataTable.no-footer{
    border-bottom:none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background:none !important;
    border:none !important;
    background-color: #38c172 !important;
    color:white !important;
    padding:4px 8px 0px 8px !important;
}

.dataTables_info{
    color:rgba(0,0,0,0.4) !important;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top:0.5em !important;
}

table.dataTable thead th, table.dataTable thead td{
    padding:0px 12px 10px 14px !important;
    font-weight:600 !important;
    font-family: 'Roboto', sans-serif !important;
    letter-spacing:1px;
    color:#000e27;
    font-size:0.9em !important;
}

table.dataTable thead .sorting{
    color:#9a9a9a !important;
    font-weight:400 !important;
    background-position-y:-1px !important;
}

table.dataTable thead .sorting_desc{
    background-position-y:-5px !important;
}

@media(max-width:767px) {
    .navbar-overhead .overhead-content {
        display:none !important;
    }

    .login-info {
        text-align:left;
        width:100%;
    }

    footer .right, footer .left {
        text-align:center;
    }

    .main-banner h1{
        font-size:1em !important;
    }
}